.loader {
  height: 40px;
  margin: 100px auto;
  position: relative;
  top: 50%;
  width: 40px;

  .bounce1,
  .bounce2 {
    animation: sk-bounce 2s infinite ease-in-out;
    background-color: var(--blue);
    border-radius: 50%;
    height: 100%;
    // left: 0;
    opacity: 0.9;
    position: absolute;
    // top: 0;
    width: 100%;
  }

  .bounce2 {
    animation-delay: -1s;
  }

  @keyframes sk-bounce {
    0%,
    100% {
      transform: scale(0);
    }

    50% {
      transform: scale(1);
    }
  }
}
