.not-found-page {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  div {
    font-weight: 700;

    span {
      font-size: 10rem;
      color: #e4661e;
    }
  }
}
