.order-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: var(--light-grey);
  border-radius: 0.25rem;
  padding: 2rem;

  .order-form__body {
    border-bottom: 1px dotted var(--heavy-grey);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    .order-form__descriptors {
      .order-form__price-descriptor,
      .order-form__count-descriptor,
      .order-form__total-descriptor {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 3rem;
        padding: 0.5rem 0;
        color: var(--heavy-grey);
      }
    }

    .order-form__container {
      .order-form__title,
      .order-form__price,
      .order-form__count,
      .order-form__total {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        justify-items: flex-end;
        height: 3rem;
        padding: 0.5rem 0;
        font-weight: 700;

        .order-form__count-input {
          height: 100%;
          width: 4rem;
        }
      }
    }
  }

  .order-form__button {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    button {
      width: 25%;
      height: 2.5rem;
      border-radius: 0.25rem;
    }
  }
}

@media screen and (max-width: 640px) {
  .order-form {
    padding: 1rem;

    .order-form__button {
      width: 100%;
      display: flex;
      justify-content: center;

      button {
        width: 100%;
        height: 2.5rem;
        border-radius: 0.25rem;
      }
    }
  }
}

@media screen and (max-width: 920px) {
  .order-form {
    .order-form__button {
      width: 100%;
      display: flex;
      justify-content: center;

      button {
        width: 100%;
        height: 2.5rem;
        border-radius: 0.25rem;
      }
    }
  }
}

.order-form-cart {
  display: flex;
  align-items: center;
  min-height: 3rem;
  background-color: var(--light-grey);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  border-top: 1px dotted var(--heavy-grey);

  .order-form__title {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    a {
      text-decoration: none;
    }

    a:visited {
      text-decoration: none;
      color: var(--black);
    }
  }

  .order-form__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 50%;

    .order-form__price,
    .order-form__count,
    .order-form__total {
      display: flex;
      align-items: center;
      height: 2rem;
      width: 33.3%;

      .order-form__count-input {
        height: 100%;
        width: 50%;
      }
    }

    .order-form__total {
      display: flex;
      justify-content: flex-end;
    }
  }
}
