.store-page-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 0.5fr));
  gap: 2rem;
  margin: 2rem;
}

@media screen and (max-width: 640px) {
  .store-page-container {
    grid-template-columns: 1fr;
  }
}
